<br />
<div class="col-md-12">
    <form method="post" id="change-pass-form">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Senha Atual</label>
                <input type="password" class="form-control" name="current" id="frm-cp-current">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" name="password" id="frm-cp-password">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="confirm">Confirmar Senha</label>
                <input type="password" class="form-control" name="confirm" id="frm-cp-confirm">
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 100%;"
                onclick="updatePassAction(<?php echo $this->view->user['id']; ?>);">
                Salvar
            </button>
        </div>
        <div style="clear: both;"></div><input type="hidden" class="form-control" id="frm-cp-current-pass">

        <div id="update-pass-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />