<br />
<div class="col-md-12">
<form method="post" id="update-user-form">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" name="name" id="frm-up-name"
                value="<?php echo $this->view->user['name']; ?>">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" id="frm-up-email"
                   value="<?php echo $this->view->user['email']; ?>">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-up-status">
                <option value="A"
                    <?php echo ($this->view->user['status'] == "A") ? "selected" : ""; ?>>
                    Ativo
                </option>
                <option value="I"
                    <?php echo ($this->view->user['status'] == "I") ? "selected" : ""; ?>>
                    Inativo
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" style="width: 100%;"
            onclick="updateAction(<?php echo $this->view->user['id']; ?>);">
            Salvar
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="update-result"></div>
</form>
</div>
<div class="clearfix"></div>
<br />