<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->view->user as $user): ?>
                <tr>
                    <td><?php echo $user['name']; ?></td>
                    <td><?php echo $user['email']; ?></td>
                    <td><?php echo ($user['status'] == 'A') ? "Ativo" : "Inativo"; ?></td>
                    <td>
                        <button class="btn btn-default btn-sm" onclick="changePassAction(<?php echo $user['id']; ?>);">
                            <i class="fa fa-lock"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="editAction(<?php echo $user['id']; ?>);">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="deleteAction(<?php echo $user['id']; ?>);">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>