<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Usuários</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <div >
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#list" id="list-tab" role="tab" data-toggle="tab" aria-controls="list"
                        aria-expanded="true" style="padding: 0.8em;">
                        Cadastros
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#insert" role="tab" id="insert-tab" data-toggle="tab" aria-controls="insert"
                        aria-expanded="false" style="padding: 0.8em;" onclick="newUser();">
                        Novo
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="list-tab">
                    <div class="col-md-8">
                        <div id="grid-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="insert" aria-labelledby="insert-tab">
                    <div id="new-user-loader" style="display: none;">Carregando...</div>
                    <div id="new-user-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Usuário</h4>
            </div>
            <div id="edit-user-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-user-result"></div>
        </div>
    </div>
</div>

<!-- Modal Chage Password -->
<div id="modal-change-pass" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Alterar Senha</h4>
            </div>
            <div id="change-pass-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="change-pass-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir este Usuário?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-user">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Loader -->
<div id="modal-loader" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Processando...
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function newUser() {
        $("#new-user-loader").show();
        $("#new-user-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/user/new/"; ?>',
            success: function(data) {
                $("#new-user-loader").hide();
                $("#new-user-result").append(data);
            },
            error: function() {
                $("#new-user-loader").hide();
                $("#new-user-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editAction(id) {
        $("#modal-edit").modal('show');
        $("#edit-user-loader").show();
        $("#edit-user-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/user/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-user-loader").hide();
                $("#edit-user-result").append(data);
            },
            error: function() {
                $("#edit-user-loader").hide();
                $("#edit-user-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function changePassAction(id) {
        $("#modal-change-pass").modal('show');
        $("#change-pass-loader").show();
        $("#change-pass-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/user/change-password?id="; ?>' + id,
            success: function(data) {
                $("#change-pass-loader").hide();
                $("#change-pass-result").append(data);
            },
            error: function() {
                $("#change-pass-loader").hide();
                $("#change-pass-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistAction() {
        var name     = $("#frm-name");
        var email    = $("#frm-email");
        var password = $("#frm-password");
        var confirm  = $("#frm-confirm");
        var status   = $("#frm-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (email.val() === '') {
            email.attr('style', 'border: 1px solid red');
            var emailValidate = false;
        } else {
            email.attr('style', 'border: 1px solid #ccc');
            var emailValidate = true;
        }

        if (password.val() === '') {
            password.attr('style', 'border: 1px solid red');
            var passwordValidate = false;
        } else {
            password.attr('style', 'border: 1px solid #ccc');
            var passwordValidate = true;
        }

        if (confirm.val() === '') {
            confirm.attr('style', 'border: 1px solid red');
            var confirmValidate = false;
        } else {
            confirm.attr('style', 'border: 1px solid #ccc');
            var confirmValidate = true;
        }


        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            emailValidate === true &&
            passwordValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#persist-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/user/persist?"; ?>' + ($("#new-user-form").serialize()),
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#persist-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#persist-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function updateAction(id) {
        var name     = $("#frm-up-name");
        var email    = $("#frm-up-email");
        var status   = $("#frm-up-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (email.val() === '') {
            email.attr('style', 'border: 1px solid red');
            var emailValidate = false;
        } else {
            email.attr('style', 'border: 1px solid #ccc');
            var emailValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            emailValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#update-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/user/update?"; ?>' + ($("#update-user-form").serialize()) +
                    "&id=" + id,
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#update-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#update-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function updatePassAction(id) {
        var current  = $("#frm-cp-current");
        var password = $("#frm-cp-password");
        var confirm  = $("#frm-cp-confirm");

        if (current.val() === '') {
            current.attr('style', 'border: 1px solid red');
            var currentValidate = false;
        } else {
            current.attr('style', 'border: 1px solid #ccc');
            var currentValidate = true;
        }

        if (password.val() === '') {
            password.attr('style', 'border: 1px solid red');
            var passwordValidate = false;
        } else {
            password.attr('style', 'border: 1px solid #ccc');
            var passwordValidate = true;
        }

        if (confirm.val() === '') {
            confirm.attr('style', 'border: 1px solid red');
            var confirmValidate = false;
        } else {
            confirm.attr('style', 'border: 1px solid #ccc');
            var confirmValidate = true;
        }

        if (
            currentValidate === true &&
            passwordValidate === true &&
            confirmValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#update-pass-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/user/update-password?"; ?>' + ($("#change-pass-form").serialize()) +
                    "&id=" + id,
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#update-pass-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#update-pass-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function deleteAction(id) {
        $("#modal-delete").modal('show');

        $("#btn-delete-user").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-user").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/user/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-user").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    $("#modal-delete").modal('hide');
                    location.reload();
                },
                error: function () {
                    $("#btn-delete-user").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Usuário.');
                }
            });
        });
    }

    function gridAction() {
        $("#grid-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/user/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#grid-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#grid-result").append('Erro ao obter listagem.');
            }
        });
    }

    $(function() {
       gridAction();
    });
</script>