<form method="post" id="new-user-form">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" name="name" id="frm-name">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" id="frm-email">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" placeholder="Senha" name="password" id="frm-password">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="confirm">Confirmar Senha</label>
            <input type="password" class="form-control" placeholder="Senha" name="confirm" id="frm-confirm">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-status">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <button type="button" class="btn btn-default" onclick="persistAction();" id="btn-persist">
            Salvar
        </button>
    </div>
    <div style="clear: both;"></div>
    <div id="persist-result"></div>
</form>