<br />
<div class="col-md-12">
    <form method="post" id="edit-product-form" enctype="multipart/form-data"
          action="<?php echo baseUrl . "admin/product/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Nome do Produto</label>
                <input type="text" class="form-control" name="name" id="frm-up-title"
                    value="<?php echo $this->view->data['name']; ?>">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Categoria</label>
                <select class="form-control" name="category" id="frm-up-category"
                        onchange="listSubcategoriesEditAction(<?php echo $this->view->data['subcategory_id']; ?>);">
                    <option value="0">Selectione a Categoria</option>
                    <?php foreach ($this->view->categories as $category): ?>
                        <option value="<?php echo $category['id']; ?>"
                            <?php echo ($category['id'] == $this->view->data['category_id']) ? "selected" : ""; ?>>
                            <?php echo $category['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div id="list-subcategory-edit-result"></div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="image">Imagem</label>
                <?php $image =  $this->view->data['gallery_dir'] . "/" . $this->view->data['image']; ?>
                <a href="../../public/uploads/product/<?php echo $image; ?>"
                   data-lightbox="image-1" data-title="IMAGEM: <?php echo $this->view->data['image']; ?>"
                   class="pull-right" style="font-size: 11px; margin-top: 4px">
                    Ver imagem
                </a>
                <input type="file" class="form-control" name="image" id="frm-up-image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="image">Galeria</label>
                <a class="pull-right" style="font-size: 11px; margin-top: 4px; cursor: pointer;" onclick="editGallery(<?php echo $this->view->data['id']; ?>);">
                    Editar Galeria
                </a>
                <input type="file" class="form-control" name="images[]" multiple id="frm-up-images">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">Descrição</label>
                <textarea name="description"id="frm-up-description" rows="10" class="form-control">
                    <?php echo $this->view->data['description']; ?>
                </textarea>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default" onclick="updateAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />
<script>
    listSubcategoriesEditAction(<?php echo $this->view->data['subcategory_id']; ?>);

    
</script>