<div class="col-md-4">
    <div class="form-group">
        <label for="subcategory">Subcategoria</label>
        <select class="form-control" name="subcategory" id="frm-up-subcategory">
            <option value="0">Selectione a Subcategoria</option>
            <?php foreach ($this->view->subcategories as $subcategory): ?>
                <option value="<?php echo $subcategory['id']; ?>"
                    <?php echo ($subcategory['id'] == $this->view->subcategory_id) ? "selected" : ""; ?>>
                    <?php echo $subcategory['name']; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
</div>