<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Produtos</span>
    </h2>
</div>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "success"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Concluído!</strong> Dados salvos no sistema.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "error"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Erro!</strong> Não foi possível registrar o Produto.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<div class="blank">
    <div class="blank-page">
        <div >
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#list" id="list-tab" role="tab" data-toggle="tab" aria-controls="list"
                        aria-expanded="true" style="padding: 0.8em;">
                        Produtos
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#category" id="category-tab" role="tab" data-toggle="tab" aria-controls="category"
                       aria-expanded="true" style="padding: 0.8em;">
                        Categorias
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#subcategory" id="subcategory-tab" role="tab" data-toggle="tab" aria-controls="subcategory"
                       aria-expanded="true" style="padding: 0.8em;">
                        Subcategorias
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#insert" role="tab" id="insert-tab" data-toggle="tab" aria-controls="insert"
                       aria-expanded="false" style="padding: 0.8em;" onclick="newAction();">
                        Novo Produto
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="list-tab">
                    <div class="col-md-8">
                        <div id="grid-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="category" aria-labelledby="category-tab">
                    <div class="col-md-8">
                        <div id="category-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="subcategory" aria-labelledby="subcategory-tab">
                    <div class="col-md-8">
                        <div id="subcategory-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="insert" aria-labelledby="insert-tab">
                    <div id="new-product-loader" style="display: none;">Carregando...</div>
                    <div id="new-product-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Produto</h4>
            </div>
            <div id="edit-product-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-product-result"></div>
        </div>
    </div>
</div>

<!-- Modal Edit Gallery -->
<div id="modal-edit-gallery" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Galeria</h4>
            </div>
            <div id="edit-product-gallery-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-product-gallery-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir este Produto?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-product">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Category -->
<div id="modal-new-category" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar Categoria</h4>
            </div>
            <div id="new-category-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="new-category-result"></div>
        </div>
    </div>
</div>

<!-- Modal Edit Category -->
<div id="modal-edit-category" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Categoria</h4>
            </div>
            <div id="edit-category-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-category-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete Category -->
<div id="modal-delete-category" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir esta Categoria?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-category">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Subcategory -->
<div id="modal-new-subcategory" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar Categoria</h4>
            </div>
            <div id="new-subcategory-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="new-subcategory-result"></div>
        </div>
    </div>
</div>

<!-- Modal Edit Subcategory -->
<div id="modal-edit-subcategory" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Categoria</h4>
            </div>
            <div id="edit-subcategory-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-subcategory-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete Subcategory -->
<div id="modal-delete-subcategory" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir esta Categoria?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-subcategory">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Image -->
<div id="modal-delete-image" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir esta Imagem?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-image">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Loader -->
<div id="modal-loader" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Processando...
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function editGallery(id) {
        $("#modal-edit-gallery").modal('show');
        $("#edit-product-gallery-loader").show();
        $("#edit-product-gallery-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/load-gallery?id="; ?>' + id,
            success: function(data) {
                $("#edit-product-gallery-loader").hide();
                $("#edit-product-gallery-result").append(data);
            },
            error: function() {
                $("#edit-product-gallery-loader").hide();
                $("#edit-product-gallery-result").append('Erro ao obter dados, atualize a página.');
            }
        });
    }

    function deleteImage(id, pos) {
        $("#modal-delete-image").modal({"backdrop" : false});

        $("#btn-delete-image").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-image").attr("disabled", true);
            $.ajax({
                url: '<?php echo baseUrl . "admin/product/delete-image"; ?>?id=' + id + '&pos=' + pos,
                success: function(data) {
                    $("#modal-loader").modal('hide');
                    $("#modal-delete-image").modal('hide');
                    location.reload();
                },
                error: function() {
                    alert('Erro ao excluir imagem.');
                    $("#btn-delete-image").attr("disabled", false);
                }
            });
        });
    }

    function newAction() {
        $("#new-product-loader").show();
        $("#new-product-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/new/"; ?>',
            success: function(data) {
                $("#new-product-loader").hide();
                $("#new-product-result").append(data);
            },
            error: function() {
                $("#new-product-loader").hide();
                $("#new-product-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editAction(id) {
        $("#modal-edit").modal('show');
        $("#edit-product-loader").show();
        $("#edit-product-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-product-loader").hide();
                $("#edit-product-result").append(data);

                $("#frm-up-description").Editor();
                $(".Editor-editor").append($("#frm-up-description").val());

                $(".Editor-editor").bind('input propertychange', function() {
                    $("#frm-up-description").val($(".Editor-editor").html());
                });
            },
            error: function() {
                $("#edit-product-loader").hide();
                $("#edit-product-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistAction() {
        var name   = $("#frm-name");
        var description = $("#frm-description");
        var image   = $("#frm-image");
        var status  = $("#frm-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (description.val() === '') {
            description.attr('style', 'border: 1px solid red');
            var descriptionValidate = false;
        } else {
            description.attr('style', 'border: 1px solid #ccc');
            var descriptionValidate = true;
        }

        if (image.val() === '') {
            image.attr('style', 'border: 1px solid red');
            var imageValidate = false;
        } else {
            image.attr('style', 'border: 1px solid #ccc');
            var imageValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            descriptionValidate === true &&
            imageValidate === true &&
            statusValidate === true
        ) {
            $("#frm-description").hide();
            $("#modal-loader").modal({"backdrop" : false});
            $("#new-product-form").submit();
        }
    }


    function updateAction() {
        var name   = $("#frm-up-title");
        var description = $("#frm-up-description");
        var status  = $("#frm-up-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (description.val() === '') {
            description.attr('style', 'border: 1px solid red');
            var descriptionValidate = false;
        } else {
            description.attr('style', 'border: 1px solid #ccc');
            var descriptionValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            descriptionValidate === true &&
            statusValidate === true
        ) {
            $("#frm-up-description").hide();
            $("#modal-loader").modal({"backdrop" : false});
            $("#edit-product-form").submit();
        }
    }

    function deleteAction(id) {
        $("#modal-delete").modal('show');

        $("#btn-delete-product").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-product").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/product/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-product").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    $("#modal-delete").modal('hide');
                    location.reload();
                },
                error: function () {
                    $("#btn-delete-product").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Produto.');
                }
            });
        });
    }

    function newCategoryAction() {
        $("#modal-new-category").modal('show');
        $("#new-category-loader").show();
        $("#new-category-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/category/new/"; ?>',
            success: function(data) {
                $("#new-category-loader").hide();
                $("#new-category-result").append(data);
            },
            error: function() {
                $("#new-category-loader").hide();
                $("#new-category-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editCategoryAction(id) {
        $("#modal-edit-category").modal('show');
        $("#edit-category-loader").show();
        $("#edit-category-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/category/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-category-loader").hide();
                $("#edit-category-result").append(data);
            },
            error: function() {
                $("#edit-category-loader").hide();
                $("#edit-category-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistCategoryAction() {
        var name   = $("#frm-c-name");
        var status  = $("#frm-c-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#persist-category-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/category/persist?"; ?>' + ($("#new-category-form").serialize()),
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#persist-category-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#persist-category-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function updateCategoryAction(id) {
        var name   = $("#frm-up-c-name");
        var status  = $("#frm-up-c-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }


        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#update-category-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/category/update?"; ?>' + ($("#edit-category-form").serialize()) +
                "&id=" + id,
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#update-category-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#update-category-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function deleteCategoryAction(id) {
        $("#modal-delete-category").modal('show');

        $("#btn-delete-category").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-category").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/category/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-category").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    $("#modal-delete-category").modal('hide');
                    location.reload();
                },
                error: function () {
                    $("#btn-delete-category").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Produto.');
                }
            });
        });
    }

    function newSubcategoryAction() {
        $("#modal-new-subcategory").modal('show');
        $("#new-subcategory-loader").show();
        $("#new-subcategory-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/subcategory/new/"; ?>',
            success: function(data) {
                $("#new-subcategory-loader").hide();
                $("#new-subcategory-result").append(data);
            },
            error: function() {
                $("#new-subcategory-loader").hide();
                $("#new-subcategory-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editSubcategoryAction(id) {
        $("#modal-edit-subcategory").modal('show');
        $("#edit-subcategory-loader").show();
        $("#edit-subcategory-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/subcategory/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-subcategory-loader").hide();
                $("#edit-subcategory-result").append(data);
            },
            error: function() {
                $("#edit-subcategory-loader").hide();
                $("#edit-subcategory-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistSubcategoryAction() {
        var name   = $("#frm-s-name");
        var status  = $("#frm-s-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#persist-subcategory-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/subcategory/persist?"; ?>' + ($("#new-subcategory-form").serialize()),
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#persist-subcategory-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#persist-subcategory-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function updateSubcategoryAction(id) {
        var name   = $("#frm-up-s-name");
        var status  = $("#frm-up-s-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }


        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#update-subcategory-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/subcategory/update?"; ?>' + ($("#edit-subcategory-form").serialize()) +
                "&id=" + id,
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#update-subcategory-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#update-subcategory-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function deleteSubcategoryAction(id) {
        $("#modal-delete-subcategory").modal('show');

        $("#btn-delete-subcategory").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-subcategory").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/subcategory/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-subcategory").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    $("#modal-delete-subcategory").modal('hide');
                    location.reload();
                },
                error: function () {
                    $("#btn-delete-subcategory").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Produto.');
                }
            });
        });
    }

    function listSubcategoriesAction() {
        $("#modal-loader").modal({"backdrop" : false});
        $("#list-subcategory-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/list-subcategories?category="; ?>' + $("#frm-category").val(),
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#list-subcategory-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#list-subcategory-result").append('Erro ao obter listagem.');
            }
        });
    }

    function listSubcategoriesEditAction(subcategory) {
        $("#modal-loader").modal({"backdrop" : false});
        $("#list-subcategory-edit-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/fetch-subcategories?category="; ?>' + $("#frm-up-category").val() +
                "&subcategory=" + subcategory,
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#list-subcategory-edit-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#list-subcategory-edit-result").append('Erro ao obter listagem.');
            }
        });
    }

    function gridAction() {
        $("#grid-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/product/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#grid-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#grid-result").append('Erro ao obter listagem.');
            }
        });
    }

    function categoryGridAction() {
        $("#category-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/category/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#category-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#category-result").append('Erro ao obter listagem.');
            }
        });
    }

    function subcategoryGridAction() {
        $("#subcategory-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/subcategory/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#subcategory-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#subcategory-result").append('Erro ao obter listagem.');
            }
        });
    }

    $(function() {
        gridAction();
        categoryGridAction();
        subcategoryGridAction();
    });
</script>