<div class="col-md-3">
    <div class="form-group">
        <label for="subcategory">Subcategoria</label>
        <select class="form-control" name="subcategory" id="frm-subcategory">
            <option value="0">Selectione a Subcategoria</option>
            <?php foreach ($this->view->subcategories as $subcategory): ?>
                <option value="<?php echo $subcategory['id']; ?>">
                    <?php echo $subcategory['name']; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
</div>