<div  style="max-height: 600px; overflow-y: scroll;">
<?php
$count = 0;
foreach ($this->view->images as $image):
    $count++;

    $exp_image = explode("-", $image, 2);
    ?>
    <div class="col-md-3">
        <a href="../../public/uploads/product/<?php echo $exp_image[1]; ?>"
           data-lightbox="image-1" data-title="IMAGEM">
            <img src="<?php echo "../../public/uploads/product/" . $exp_image[1]; ?>" alt="image" class="img-responsive"
                style="height: 180px">
        </a>
        <br />
        <button class="btn btn-danger btn-sm" onclick="deleteImage(<?php echo $_GET['id'] . "," . $exp_image[0]; ?>);">Excluir</button>
    </div>
    <?php
    if ($count == 4) {
        ?>
        <div class="clearfix"></div>
        <hr />
        <?php
    }
endforeach; ?>
<div class="clearfix"></div>
</div>