<form method="post" id="new-product-form" enctype="multipart/form-data"
    action="<?php echo baseUrl . "admin/product/persist"; ?>">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name">Nome do Produto</label>
            <input type="text" class="form-control" name="name" id="frm-name">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="name">Categoria</label>
            <select class="form-control" name="category" id="frm-category" onchange="listSubcategoriesAction();">
                <option value="0">Selectione a Categoria</option>
                <?php foreach ($this->view->categories as $category): ?>
                    <option value="<?php echo $category['id']; ?>">
                        <?php echo $category['name']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div id="list-subcategory-result"></div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="image">Imagem</label>
            <input type="file" class="form-control" name="image" id="frm-image">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="images">Galeria</label>
            <input type="file" name="images[]" multiple class="form-control">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-status">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="col-md-9">
        <div class="form-group">
            <label for="email">Descrição</label>
            <textarea name="description" id="frm-description" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <button type="button" class="btn btn-default" onclick="persistAction();">
            Salvar
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="persist-result"></div>
</form>
<script>
    $(document).ready(function() {
        $("#frm-description").Editor();
        $(".Editor-editor").append($("#frm-description").val());

        $(".Editor-editor").bind('input propertychange', function() {
            $("#frm-description").val($(".Editor-editor").html());
        })
    });
</script>