<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Banners</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <div >
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#list" id="list-tab" role="tab" data-toggle="tab" aria-controls="list" aria-expanded="true" style="padding: 0.8em;">
                        Cadastros
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#search" role="tab" id="search-tab" data-toggle="tab" aria-controls="search" aria-expanded="false" style="padding: 0.8em;">
                        Consultar
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#insert" role="tab" id="insert-tab" data-toggle="tab" aria-controls="insert" aria-expanded="false" style="padding: 0.8em;">
                        Novo
                    </a>
                </li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="list-tab">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Título</th>
                                    <th>Subtítulo</th>
                                    <th>Cadastro</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Lorem Ipsum</td>
                                        <td>lorem ipsum dolor</td>
                                        <td>10/02/2016</td>
                                        <td>
                                            <button class="btn btn-default btn-sm">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-default btn-sm">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-default btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin: 0; padding: 0;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="color: #999">Pré-Visualização de Registro</h3>
                            </div>
                            <div class="panel-body">
                                <div id="previewTitle" style="display: none;">
                                    Clique em um registro para visualizar os dados de cadastro.
                                </div>
                                <div id="previewLoader" style="display: none;">
                                    <img src="public/dist/img/loader.gif" alt="Loader Image"> Obtendo dados...
                                </div>
                                <div id="previewResult">
                                    <ul class="list-group" style="font-size: 15px; border: 0">
                                        <li class="list-group-item" style="border: 0; color: #999;">
                                            <strong>Nome:</strong>
                                                <span style="">Lorem Ipsum</span>
                                        </li>
                                        <li class="list-group-item" style="border: 0; color: #999;">
                                            <b>Email:</b>
                                                lorem@ipsum.com.br	</li>
                                        <li class="list-group-item" style="border: 0; color: #999;">
                                            <b>Cadastrado em:</b>
                                                24/04/2016 às  15:03:14	</li>
                                        <li class="list-group-item" style="border: 0; color: #999;">
                                            <b>Atualizado em:</b>
                                                24/04/2016 às  19:24:01	</li>
                                        <li class="list-group-item" style="border: 0; color: #999;">
                                            <b>Status:</b>
                                                Ativo	</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="search" aria-labelledby="search-tab">
                    <div class="">
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Ativo</option>
                                    <option>Inativo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Título">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Subtitulo">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Dt. Inicial">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Dt. Final">
                            </div>
                            <button type="submit" class="btn btn-default btn-send">Buscar</button>
                            <button type="submit" class="btn btn-warning btn-send pull-right">Exportar resultados</button>
                        </form>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Título</th>
                                    <th>Subtítulo</th>
                                    <th>Cadastro</th>
                                    <th>Atualizado</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Lorem Ipsum</td>
                                    <td>lorem ipsum dolor</td>
                                    <td>10/02/2016</td>
                                    <td>10/02/2016</td>
                                    <td>Ativo</td>
                                    <td>
                                        <button class="btn btn-default btn-sm">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-sm">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="insert" aria-labelledby="insert-tab">
                    <form>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Título</label>
                                <input type="text" class="form-control" placeholder="Ex.: Lorem Ipsum" id="name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Subitítulo</label>
                                <input type="email" class="form-control" placeholder="Ex.: Lorem Ipsum" id="email">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Imagem</label>
                                <input type="file" class="form-control"  id="email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Status</label>
                                <select class="form-control" id="status">
                                    <option value="A">Ativo</option>
                                    <option value="I">Inativo</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" onclick="saveAction();" id="btn_new">
                                Salvar
                            </button>
                        </div>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>