<br />
<div class="col-md-12">
    <form method="post" id="new-gallery-category-form" action="<?php echo baseUrl . "admin/gallery-category/persist"; ?>">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Nome da Categoria</label>
                <input type="text" class="form-control" name="name" id="frm-c-name">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-c-status">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 100%;" onclick="persistGalleryCategoryAction();">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="persist-gallery-category-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />