<br />
<div class="col-md-12">
    <form method="post" id="edit-subcategory-form" action="<?php echo baseUrl . "admin/subcategory/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Categoria</label>
                <select class="form-control" name="category" id="frm-s-category">
                    <?php foreach ($this->view->categories as $category): ?>
                        <option value="<?php echo $category['id']; ?>"
                            <?php echo ($category['id'] == $this->view->data['category_id']) ? "selected" : "";    ?>>
                            <?php echo $category['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Nome da Subcategoria</label>
                <input type="text" class="form-control" name="name" id="frm-up-s-name"
                    value="<?php echo $this->view->data['name']; ?>">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-s-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 100%;"
                    onclick="updateSubcategoryAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-subcategory-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />