<br />
<div class="col-md-12">
    <form method="post" id="new-subcategory-form" action="<?php echo baseUrl . "admin/subcategory/persist"; ?>">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Categoria</label>
                <select class="form-control" name="category" id="frm-s-category">
                    <?php foreach ($this->view->categories as $category): ?>
                        <option value="<?php echo $category['id']; ?>">
                            <?php echo $category['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Nome da Subcategoria</label>
                <input type="text" class="form-control" name="name" id="frm-s-name">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-s-status">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 100%;" onclick="persistSubcategoryAction();">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="persist-subcategory-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />