<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Título</th>
            <th>Link</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->view->data as $entity): ?>
                <tr>
                    <td><?php echo $entity['title']; ?></td>
                    <td>
                        <a href="<?php echo $entity['link']; ?>" target="_blank">
                            <?php echo $entity['link']; ?>
                        </a>
                    </td>
                    <td><?php echo ($entity['status'] == 'A') ? "Ativo" : "Inativo"; ?></td>
                    <td>
                        <button class="btn btn-default btn-sm" onclick="editAction(<?php echo $entity['id']; ?>);">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="deleteAction(<?php echo $entity['id']; ?>);">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>