<form method="post" id="new-partner-form" enctype="multipart/form-data"
    action="<?php echo baseUrl . "admin/partner/persist"; ?>">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name">Título</label>
            <input type="text" class="form-control" name="title" id="frm-title">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="email">Link</label>
            <input type="email" class="form-control" name="link" id="frm-link">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="image">Imagem</label>
            <input type="file" class="form-control" name="image" id="frm-image">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-status">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-default" onclick="persistAction();">
            Salvar
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="persist-result"></div>
</form>