<br />
<div class="col-md-12">
    <form method="post" id="edit-banner-form" enctype="multipart/form-data"
          action="<?php echo baseUrl . "admin/banner/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-12">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" name="title" id="frm-up-title"
                    value="<?php echo $this->view->data['title']; ?>">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="caption">Legenda</label>
                <input type="text" class="form-control" name="caption" id="frm-up-caption"
                    value="<?php echo $this->view->data['caption']; ?>">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="image">Imagem</label>
                <a href="../../public/uploads/banner/<?php echo $this->view->data['image']; ?>"
                   data-lightbox="image-1" data-title="IMAGEM: <?php echo $this->view->data['image']; ?>"
                   class="pull-right" style="font-size: 11px; margin-top: 4px">
                    Ver imagem
                </a>
                <input type="file" class="form-control" name="image" id="frm-up-image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default" onclick="updateAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />