<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Banners</span>
    </h2>
</div>


<?php if (isset($_GET['msg']) && $_GET['msg'] == "success"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Concluído!</strong> Dados salvos no sistema.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "error"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Erro!</strong> Não foi possível registrar o Banner.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<div class="blank">
    <div class="blank-page">
        <div >
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#list" id="list-tab" role="tab" data-toggle="tab" aria-controls="list"
                        aria-expanded="true" style="padding: 0.8em;">
                        Cadastros
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#insert" role="tab" id="insert-tab" data-toggle="tab" aria-controls="insert"
                        aria-expanded="false" style="padding: 0.8em;" onclick="newAction();">
                        Novo
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="list-tab">
                    <div class="col-md-8">
                        <div id="grid-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="insert" aria-labelledby="insert-tab">
                    <div id="new-banner-loader" style="display: none;">Carregando...</div>
                    <div id="new-banner-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Banner</h4>
            </div>
            <div id="edit-banner-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-banner-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir este Banner?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-banner">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Loader -->
<div id="modal-loader" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Processando...
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function newAction() {
        $("#new-banner-loader").show();
        $("#new-banner-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/banner/new/"; ?>',
            success: function(data) {
                $("#new-banner-loader").hide();
                $("#new-banner-result").append(data);
            },
            error: function() {
                $("#new-banner-loader").hide();
                $("#new-banner-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editAction(id) {
        $("#modal-edit").modal('show');
        $("#edit-banner-loader").show();
        $("#edit-banner-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/banner/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-banner-loader").hide();
                $("#edit-banner-result").append(data);
            },
            error: function() {
                $("#edit-banner-loader").hide();
                $("#edit-banner-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistAction() {
        var title   = $("#frm-title");
        var caption = $("#frm-caption");
        var image   = $("#frm-image");
        var status  = $("#frm-status");

        if (title.val() === '') {
            title.attr('style', 'border: 1px solid red');
            var titleValidate = false;
        } else {
            title.attr('style', 'border: 1px solid #ccc');
            var titleValidate = true;
        }

        if (caption.val() === '') {
            caption.attr('style', 'border: 1px solid red');
            var captionValidate = false;
        } else {
            caption.attr('style', 'border: 1px solid #ccc');
            var captionValidate = true;
        }

        if (image.val() === '') {
            image.attr('style', 'border: 1px solid red');
            var imageValidate = false;
        } else {
            image.attr('style', 'border: 1px solid #ccc');
            var imageValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            titleValidate === true &&
            captionValidate === true &&
            imageValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#new-banner-form").submit();
        }
    }


    function updateAction() {
        var title   = $("#frm-up-title");
        var caption = $("#frm-up-caption");
        var status  = $("#frm-up-status");

        if (title.val() === '') {
            title.attr('style', 'border: 1px solid red');
            var titleValidate = false;
        } else {
            title.attr('style', 'border: 1px solid #ccc');
            var titleValidate = true;
        }

        if (caption.val() === '') {
            caption.attr('style', 'border: 1px solid red');
            var captionValidate = false;
        } else {
            caption.attr('style', 'border: 1px solid #ccc');
            var captionValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            titleValidate === true &&
            captionValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#edit-banner-form").submit();
        }
    }

    function deleteAction(id) {
        $("#modal-delete").modal('show');

        $("#btn-delete-banner").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-banner").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/banner/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-banner").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    $("#modal-delete").modal('hide');
                    location.reload();
                },
                error: function () {
                    $("#btn-delete-banner").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Banner.');
                }
            });
        });
    }

    function gridAction() {
        $("#grid-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/banner/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#grid-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#grid-result").append('Erro ao obter listagem.');
            }
        });
    }

    $(function() {
       gridAction();
    });
</script>