<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Dados da Empresa</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <h3 class="head-top">Dados da Empresa</h3>
        <form method="post">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="companyName">Empresa:</label>
                    <input type="text" class="form-control" name="companyName" placeholder="Ex.: Empresa Exemplo" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="companyCity">Cidade:</label>
                    <input type="text" class="form-control" name="companyCity" placeholder="Ex.: São Paulo/SP" required>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="companyName">Email 1:</label>
                    <input type="text" class="form-control" name="companyName" placeholder="Ex.: exemplo1@empres.com.br" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="companyCity">Email 2:</label>
                    <input type="text" class="form-control" name="companyCity" placeholder="Ex.: exemplo1@empres.com.br">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="companyName">Telefone 1:</label>
                    <input type="text" class="form-control" name="companyName" placeholder="Ex.: (99)9999-9999">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="companyCity">Telefone 2:</label>
                    <input type="text" class="form-control" name="companyCity" placeholder="Ex.: (99)9999-9999">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="companyCity">Celular:</label>
                    <input type="text" class="form-control" name="companyCity" placeholder="Ex.: (99)9999-9999">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyCity">Logomarca:</label>
                    <a href=""
                       class="pull-right small" data-lightbox="image-1">
                        VER LOGOMARCA
                    </a>
                    <input type="file" class="form-control" name="companyLogo">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Salvar</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

