<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Redes Sociais</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <h3 class="head-top">Redes Sociais</h3>
        <form method="post">
            <div class="col-md-4" style="margin: 0; padding: 0;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="facebook">Link Facebook</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook-square "></i>
                            </span>
                            <input type="text" class="form-control" placeholder="http://facebook.com/sua-página" name="facebook">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="twitter">Link Twitter</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook-square "></i>
                            </span>
                            <input type="text" class="form-control" placeholder="http://twitter.com/sua-página" name="twitter">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="youtube">Link YouTube</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook-square "></i>
                            </span>
                            <input type="text" class="form-control" placeholder="http://youtube.com/sua-página" name="youtube">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="gplus">Link G+</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-facebook-square "></i>
                            </span>
                            <input type="text" class="form-control" placeholder="http://plus.google.com/sua-página" name="gplus">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Salvar</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>