<form method="post" id="new-service-form" enctype="multipart/form-data"
    action="<?php echo baseUrl . "admin/service/persist"; ?>">
    <div class="col-md-4">
        <div class="form-group">
            <label for="name">Título</label>
            <input type="text" class="form-control" name="title" id="frm-title">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="image">Imagem</label>
            <input type="file" class="form-control" name="image" id="frm-image">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-status">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-9">
        <div class="form-group">
            <label for="email">Descrição</label>
            <textarea name="description" id="frm-description" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <button type="button" class="btn btn-default" onclick="persistAction();">
            Salvar
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="persist-result"></div>
</form>
<script>
    $(document).ready(function() {
        $("#frm-description").Editor();
        $(".Editor-editor").append($("#frm-description").val());

        $(".Editor-editor").bind('input propertychange', function() {
            $("#frm-description").val($(".Editor-editor").html());
        })
    });
</script>