<!DOCTYPE HTML>
<html>
<head>
    <title>Admin | Autenticação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <link href="<?php echo baseUrl; ?>public/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo baseUrl; ?>public/admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo baseUrl; ?>public/admin/css/font-awesome.css" rel="stylesheet">
    <script src="<?php echo baseUrl; ?>public/admin/js/jquery.min.js"> </script>
    <script src="<?php echo baseUrl; ?>public/admin/js/bootstrap.min.js"> </script>
</head>
<body>
<div class="login">
    <h1><a>Admin </a></h1>
    <div class="login-bottom">
        <h2>Autenticação</h2>
        <form method="post">
            <div class="col-md-12">
                <div class="login-mail">
                    <input type="text" placeholder="Email" required="" id="email">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Senha" required="" id="pass">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="col-md-12 login-do">
                <label class="hvr-shutter-in-horizontal login-sub">
                    <button type="button" id="btn-submit" onclick="login();">
                        <span id="login-label">Entrar</span>
                        <span id="login-auth-label" style="display: none;">Autenticando</span>
                        <span id="login-redirect-label" style="display: none;">Redirecionando</span>
                        <span id="login-error-label" style="display: none;">Erro</span>
                    </button>
                </label>
            </div>
            <div class="col-md-12" id="login-result"></div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<div class="copy-right">
    <p> &copy; 2016 Admin versão 5.0.0 | Desenvolvido por
        <a href="" target="_blank">
            João Augusto
        </a>
    </p>
</div>
<script src="<?php echo baseUrl; ?>public/admin/js/jquery.nicescroll.js"></script>
<script src="<?php echo baseUrl; ?>public/admin/js/scripts.js"></script>
</body>
</html>

<script type="text/javascript">
    function login() {
        var email = $("#email").val();
        var pass  = $("#pass").val();

        $("#login-result").empty();

        $("#btn-submit").attr('disabled', true);
        $("#email").attr('readonly', true);
        $("#pass").attr('readonly', true);

        $("#login-label").hide();
        $("#login-auth-label").show();
        $("#login-redirect-label").hide();
        $("#login-error-label").hide();

        $.ajax({
            url: '<?php echo baseUrl . "admin/auth/"; ?>?email=' + email + '&pass=' + pass,
            success: function(data) {
                $("#login-result").append(data);

                $("#btn-submit").attr('disabled', false);
                $("#email").attr('readonly', false);
                $("#pass").attr('readonly', false);

                $("#login-label").hide();
                $("#login-auth-label").hide();
                $("#login-redirect-label").show();
                $("#login-error-label").hide();

                window.location.href = "<?php echo baseUrl . "admin/"; ?>";
            },
            error: function() {
                alert('Erro na requisição!');
            }
        });
    }
</script>