<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Institucional</span>
    </h2>
</div>
<?php if (isset($_GET['msg']) && $_GET['msg'] == "success"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Concluído!</strong> Dados salvos no sistema.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "error"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Erro!</strong> Não foi possível atualizar os dados.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>
<div class="blank">
    <div class="blank-page">
        <div class="col-md-8">
            <form method="post" id="about-form" enctype="multipart/form-data"
                action="<?php echo baseUrl . "admin/about/update"; ?>">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Título</label>
                        <input type="text" class="form-control" name="title" id="frm-title"
                            value="<?php echo $this->view->data['title']; ?>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="image">Imagem</label>
                        <a href="../../public/uploads/about/<?php echo $this->view->data['image']; ?>"
                           data-lightbox="image-1" data-title="IMAGEM: <?php echo $this->view->data['image']; ?>"
                           class="pull-right" style="font-size: 11px; margin-top: 4px">
                            Ver imagem
                        </a>
                        <input type="file" class="form-control" name="image" id="frm-image">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Descrição</label>
                        <textarea name="description" id="frm-description" rows="15" class="form-control">
                            <?php echo $this->view->data['description']; ?>
                        </textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning" onclick="updateAction();" id="btn-update">
                        Salvar
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Modal Loader -->
<div id="modal-loader" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Processando...
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function updateAction() {
        var title   = $("#frm-title");
        var description = $("#frm-description");

        if (title.val() === '') {
            title.attr('style', 'border: 1px solid red');
            var titleValidate = false;
        } else {
            title.attr('style', 'border: 1px solid #ccc');
            var titleValidate = true;
        }

        if (description.val() === '') {
            description.attr('style', 'border: 1px solid red');
            var descriptionValidate = false;
        } else {
            description.attr('style', 'border: 1px solid #ccc');
            var descriptionValidate = true;
        }

        if (
            titleValidate === true &&
            descriptionValidate === true
        ) {
            $("#frm-description").hide();
            $("#modal-loader").modal({"backdrop" : false});
            $("#about-form").submit();
        }
    }

    $(document).ready(function() {
        $("#frm-description").Editor();
        $(".Editor-editor").append($("#frm-description").val());

        $(".Editor-editor").bind('input propertychange', function() {
            $("#frm-description").val($(".Editor-editor").html());
        })
    });
</script>