<br />
<div class="col-md-12">
    <form method="post" id="edit-portfolio-form" enctype="multipart/form-data"
          action="<?php echo baseUrl . "admin/portfolio/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Categoria</label>
                <select class="form-control" name="category" id="frm-up-category">
                    <option value="0">Selectione a Categoria</option>
                    <?php foreach ($this->view->categories as $category): ?>
                        <option value="<?php echo $category['id']; ?>"
                            <?php echo ($category['id'] == $this->view->data['portfolio_category_id']) ? "selected" : ""; ?>>
                            <?php echo $category['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="name">Nome do Trabalho</label>
                <input type="text" class="form-control" name="name" id="frm-up-title"
                    value="<?php echo $this->view->data['name']; ?>">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8">
            <div class="form-group">
                <label for="images">Imagem</label>
                <a href="../../public/uploads/portfolio/<?php echo $this->view->data['image']; ?>"
                    data-lightbox="image-1" data-title="IMAGEM: <?php echo $this->view->data['image']; ?>"
                    class="pull-right" style="font-size: 11px; margin-top: 4px">
                    Ver imagem
                </a>
                <input type="file" name="image" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Link</label>
                <input type="text" class="form-control" name="link" id="frm-up-link"
                       value="<?php echo $this->view->data['link']; ?>">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" onclick="updateAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />
