<div class="banner">
    <h2>
        <a href="<?php echo baseUrl . "admin/"; ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Portfólio</span>
    </h2>
</div>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "success"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Concluído!</strong> Dados salvos no sistema.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<?php if (isset($_GET['msg']) && $_GET['msg'] == "error"): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Erro!</strong> Não foi possível registrar o Portfólio.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>

<div class="blank">
    <div class="blank-page">
        <div >
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#list" id="list-tab" role="tab" data-toggle="tab" aria-controls="list"
                        aria-expanded="true" style="padding: 0.8em;">
                        Trabalhos
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#portfolio-category" id="portfolio-category-tab" role="tab" data-toggle="tab" aria-controls="portfolio-category"
                       aria-expanded="true" style="padding: 0.8em;">
                        Categorias
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#insert" role="tab" id="insert-tab" data-toggle="tab" aria-controls="insert"
                       aria-expanded="false" style="padding: 0.8em;" onclick="newAction();">
                        Novo Trabalho
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="list" aria-labelledby="list-tab">
                    <div class="col-md-8">
                        <div id="grid-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="portfolio-category" aria-labelledby="portfolio-category-tab">
                    <div class="col-md-8">
                        <div id="portfolio-category-result"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade " id="insert" aria-labelledby="insert-tab">
                    <div id="new-portfolio-loader" style="display: none;">Carregando...</div>
                    <div id="new-portfolio-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Portfólio</h4>
            </div>
            <div id="edit-portfolio-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-portfolio-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir este Portfólio?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-portfolio">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal New PortfolioCategory -->
<div id="modal-new-portfolio-category" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar Categoria</h4>
            </div>
            <div id="new-portfolio-category-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="new-portfolio-category-result"></div>
        </div>
    </div>
</div>

<!-- Modal Edit PortfolioCategory -->
<div id="modal-edit-portfolio-category" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Categoria</h4>
            </div>
            <div id="edit-portfolio-category-loader">
                <div class="modal-body">
                    Aguarde, obtendo informações...
                </div>
            </div>
            <div id="edit-portfolio-category-result"></div>
        </div>
    </div>
</div>

<!-- Modal Delete PortfolioCategory -->
<div id="modal-delete-portfolio-category" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir esta Categoria?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-portfolio-category">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete PortfolioCategory -->
<div id="modal-delete-image" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pull-left" style="margin-top: 9px; font-size: 15px">
                    Deseja excluir esta Imagem?
                </div>
                <div class="pull-right">
                    <input type="hidden" id="ps-hd-id">
                    <button class="btn btn-danger" id="btn-delete-image">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Loader -->
<div id="modal-loader" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Processando...
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function newAction() {
        $("#new-portfolio-loader").show();
        $("#new-portfolio-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio/new/"; ?>',
            success: function(data) {
                $("#new-portfolio-loader").hide();
                $("#new-portfolio-result").append(data);
            },
            error: function() {
                $("#new-portfolio-loader").hide();
                $("#new-portfolio-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editAction(id) {
        $("#modal-edit").modal('show');
        $("#edit-portfolio-loader").show();
        $("#edit-portfolio-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-portfolio-loader").hide();
                $("#edit-portfolio-result").append(data);
            },
            error: function() {
                $("#edit-portfolio-loader").hide();
                $("#edit-portfolio-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistAction() {
        var name   = $("#frm-name");
        var description = $("#frm-description");
        var image   = $("#frm-image");
        var status  = $("#frm-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (description.val() === '') {
            description.attr('style', 'border: 1px solid red');
            var descriptionValidate = false;
        } else {
            description.attr('style', 'border: 1px solid #ccc');
            var descriptionValidate = true;
        }

        if (image.val() === '') {
            image.attr('style', 'border: 1px solid red');
            var imageValidate = false;
        } else {
            image.attr('style', 'border: 1px solid #ccc');
            var imageValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            descriptionValidate === true &&
            imageValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#new-portfolio-form").submit();
        }
    }


    function updateAction() {
        var name   = $("#frm-up-title");
        var description = $("#frm-up-description");
        var status  = $("#frm-up-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (description.val() === '') {
            description.attr('style', 'border: 1px solid red');
            var descriptionValidate = false;
        } else {
            description.attr('style', 'border: 1px solid #ccc');
            var descriptionValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            descriptionValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#edit-portfolio-form").submit();
        }
    }

    function deleteAction(id) {
        $("#modal-delete").modal('show');

        $("#btn-delete-portfolio").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-portfolio").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/portfolio/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-portfolio").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    gridAction();
                    $("#modal-delete").modal('hide');
                },
                error: function () {
                    $("#btn-delete-portfolio").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Portfólio.');
                }
            });
        });
    }

    function newPortfolioCategoryAction() {
        $("#modal-new-portfolio-category").modal('show');
        $("#new-portfolio-category-loader").show();
        $("#new-portfolio-category-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio-category/new/"; ?>',
            success: function(data) {
                $("#new-portfolio-category-loader").hide();
                $("#new-portfolio-category-result").append(data);
            },
            error: function() {
                $("#new-portfolio-category-loader").hide();
                $("#new-portfolio-category-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function editPortfolioCategoryAction(id) {
        $("#modal-edit-portfolio-category").modal('show');
        $("#edit-portfolio-category-loader").show();
        $("#edit-portfolio-category-result").empty();

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio-category/edit?id="; ?>' + id,
            success: function(data) {
                $("#edit-portfolio-category-loader").hide();
                $("#edit-portfolio-category-result").append(data);
            },
            error: function() {
                $("#edit-portfolio-category-loader").hide();
                $("#edit-portfolio-category-result").append('Erro ao obter formulário, atualize a página.');
            }
        });
    }

    function persistPortfolioCategoryAction() {
        var name   = $("#frm-c-name");
        var status  = $("#frm-c-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }

        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#persist-portfolio-category-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/portfolio-category/persist?"; ?>' + ($("#new-portfolio-category-form").serialize()),
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#persist-portfolio-category-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#persist-portfolio-category-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function updatePortfolioCategoryAction(id) {
        var name   = $("#frm-up-c-name");
        var status  = $("#frm-up-c-status");

        if (name.val() === '') {
            name.attr('style', 'border: 1px solid red');
            var nameValidate = false;
        } else {
            name.attr('style', 'border: 1px solid #ccc');
            var nameValidate = true;
        }


        if (status.val() === 'A' || status.val() === 'I') {
            status.attr('style', 'border: 1px solid #ccc');
            var statusValidate = true;
        } else {
            status.attr('style', 'border: 1px solid red');
            var statusValidate = false;
        }

        if (
            nameValidate === true &&
            statusValidate === true
        ) {
            $("#modal-loader").modal({"backdrop" : false});
            $("#update-portfolio-category-result").empty();

            $.ajax({
                url: '<?php echo baseUrl . "admin/portfolio-category/update?"; ?>' + ($("#edit-portfolio-category-form").serialize()) +
                "&id=" + id,
                success: function (data) {
                    $("#modal-loader").modal('hide');
                    $("#update-portfolio-category-result").append(data);
                },
                error: function () {
                    $("#modal-loader").modal('hide');
                    $("#update-portfolio-category-result").append('Erro ao obter formulário, atualize a página.');
                }
            });
        }
    }

    function deletePortfolioCategoryAction(id) {
        $("#modal-delete-portfolio-category").modal('show');

        $("#btn-delete-portfolio-category").click(function() {
            $("#modal-loader").modal({"backdrop" : false});
            $("#btn-delete-portfolio-category").attr("disabled", true);

            $.ajax({
                url: '<?php echo baseUrl . "admin/portfolio-category/delete?"; ?>&id=' + id,
                success: function (data) {
                    $("#btn-delete-portfolio-category").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    portfolioCategoryGridAction();
                    $("#modal-delete-portfolio-category").modal('hide');
                },
                error: function () {
                    $("#btn-delete-portfolio-category").attr("disabled", false);
                    $("#modal-loader").modal('hide');
                    alert('Erro ao excluir Portfólio.');
                }
            });
        });
    }

    function gridAction() {
        $("#grid-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#grid-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#grid-result").append('Erro ao obter listagem.');
            }
        });
    }

    function portfolioCategoryGridAction() {
        $("#portfolio-category-result").empty();
        $("#modal-loader").modal({"backdrop" : false});

        $.ajax({
            url: '<?php echo baseUrl . "admin/portfolio-category/grid?page=1"; ?>',
            success: function(data) {
                $("#modal-loader").modal('hide');
                $("#portfolio-category-result").append(data);
            },
            error: function() {
                $("#modal-loader").modal('hide');
                $("#portfolio-category-result").append('Erro ao obter listagem.');
            }
        });
    }

    $(function() {
        gridAction();
        portfolioCategoryGridAction();
    });
</script>