<form method="post" id="new-portfolio-form" enctype="multipart/form-data"
    action="<?php echo baseUrl . "admin/portfolio/persist"; ?>">
    <div class="col-md-2">
        <div class="form-group">
            <label for="name">Categoria</label>
            <select class="form-control" name="category" id="frm-category">
                <option value="0">Selectione a Categoria</option>
                <?php foreach ($this->view->categories as $category): ?>
                    <option value="<?php echo $category['id']; ?>">
                        <?php echo $category['name']; ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="name">Nome do Trabalho</label>
            <input type="text" class="form-control" name="name" id="frm-name">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="images">Imagem</label>
            <input type="file" name="image" class="form-control">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="frm-status">
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="name">Link</label>
            <input type="text" class="form-control" name="link" id="frm-link">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <button type="button" class="btn btn-warning" onclick="persistAction();">
            Salvar
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="persist-result"></div>
</form>