<br />
<div class="col-md-12">
    <form method="post" id="edit-portfolio-category-form" action="<?php echo baseUrl . "admin/portfolio-category/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">Nome da Categoria</label>
                <input type="text" class="form-control" name="name" id="frm-up-c-name"
                    value="<?php echo $this->view->data['name']; ?>">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-c-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 100%;"
                    onclick="updatePortfolioCategoryAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-portfolio-category-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<br />