<button class="btn btn-warning" onclick="newPortfolioCategoryAction();">Adicionar Categoria</button>
<hr  style="margin-bottom:0; padding-bottom: 0;"/>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Título</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <?php foreach ($this->view->data as $entity): ?>
                <tr>
                    <td><?php echo $entity['name']; ?></td>
                    <td><?php echo ($entity['status'] == 'A') ? "Ativo" : "Inativo"; ?></td>
                    <td>
                        <button class="btn btn-default btn-sm" onclick="editPortfolioCategoryAction(<?php echo $entity['id']; ?>);">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="deletePortfolioCategoryAction(<?php echo $entity['id']; ?>);">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>