<br />
<div class="col-md-12">
    <form method="post" id="edit-gallery-form" enctype="multipart/form-data"
          action="<?php echo baseUrl . "admin/gallery/update"; ?>">
        <input type="hidden" class="form-control" name="id" value="<?php echo $this->view->data['id']; ?>">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Categoria</label>
                <select class="form-control" name="category" id="frm-up-category">
                    <option value="0">Selectione a Categoria</option>
                    <?php foreach ($this->view->categories as $category): ?>
                        <option value="<?php echo $category['id']; ?>"
                            <?php echo ($category['id'] == $this->view->data['gallery_category_id']) ? "selected" : ""; ?>>
                            <?php echo $category['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Nome da Galeria</label>
                <input type="text" class="form-control" name="name" id="frm-up-title"
                    value="<?php echo $this->view->data['name']; ?>">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="frm-up-status">
                    <option value="A"
                        <?php echo ($this->view->data['status'] == "A") ? "selected" : ""; ?>>
                        Ativo
                    </option>
                    <option value="I"
                        <?php echo ($this->view->data['status'] == "I") ? "selected" : ""; ?>>
                        Inativo
                    </option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-8">
            <div class="form-group">
                <label for="images">Imagens</label>
                <input type="file" name="images[]" multiple class="form-control">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" onclick="updateAction(<?php echo $this->view->data['id']; ?>);">
                Salvar
            </button>
        </div>
        <div class="clearfix"></div>
        <div id="update-result"></div>
    </form>
</div>
<div class="clearfix"></div>
<hr />
<div class="col-md-12">
    <div id="gallery-box-result" style="max-height: 400px; overflow-y: scroll; white-space: nowrap;"></div>
</div>
<div class="clearfix"></div>
<br />
<script>
    loadGalleryAction(<?php echo $this->view->data['id']; ?>);
</script>