<?php if (!empty($this->view->success)): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Concluído!</strong> Galeria atualizada no sistema.
        </div>
    </div>
    <div class="clearfix"></div>
    <script>
        $("#frm-name").val('');
        loadGalleryAction(<?php echo $this->view->data['id']; ?>);
    </script>
<?php endif; ?>

<?php if (!empty($this->view->error)): ?>
    <br />
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Erro!</strong> Não foi possível atualizar a Galeria.
        </div>
    </div>
    <div class="clearfix"></div>
<?php endif; ?>