<!DOCTYPE HTML>
<html>
<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar(){
            window.scrollTo(0,1);
        }
    </script>

    <link href="<?php echo baseUrl; ?>public/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo baseUrl; ?>public/admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo baseUrl; ?>public/admin/css/font-awesome.css" rel="stylesheet">
    <link href="<?php echo baseUrl; ?>public/admin/plugins/lightbox/css/lightbox.css" rel='stylesheet' type='text/css' />
    <link href="<?php echo baseUrl; ?>public/admin/css/custom.css" rel="stylesheet">
    <link href="<?php echo baseUrl; ?>public/admin/plugins/editor/editor.css" rel="stylesheet" type="text/css" />

    <script src="<?php echo baseUrl; ?>public/admin/js/jquery.min.js"> </script>
    <script src="<?php echo baseUrl; ?>public/admin/js/jquery.metisMenu.js"></script>
    <script src="<?php echo baseUrl; ?>public/admin/js/jquery.slimscroll.min.js"></script>
    <script src="<?php echo baseUrl; ?>public/admin/js/custom.js"></script>
    <script src="<?php echo baseUrl; ?>public/admin/js/screenfull.js"></script>
    <script src="<?php echo baseUrl; ?>public/admin/plugins/lightbox/js/lightbox.min.js"></script>
    <script src="<?php echo baseUrl; ?>public/admin/plugins/editor/editor.js"></script>

    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }

            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 style="margin: 0;"'> <a class="navbar-brand" href="<?php echo baseUrl; ?>admin/">Admin</a></h1>
        </div>
        <div class=" border-bottom">
            <div class="full-left">
                <section class="full-top">
                    <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
                </section>
                <div class="clearfix"> </div>
            </div>
            <div class="drop-men" >
                <ul class=" nav_1">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
                            <span class=" name-caret">
                                <?php echo $_SESSION['NAME']; ?><i class="caret"></i>
                            </span>
                            <img src="<?php echo baseUrl; ?>public/admin/images/user.jpg" width="60">
                        </a>
                        <ul class="dropdown-menu " role="menu">
                            <li>
                                <a href="<?php echo baseUrl . "admin/logout/"; ?>">
                                    <i class="fa fa-remove"></i>Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="<?php echo baseUrl; ?>admin/" class="hvr-bounce-to-right">
                            <i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" hvr-bounce-to-right">
                            <i class="fa fa-cog nav_icon"></i>
                            <span class="nav-label">Configurações</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                            <li>
                                <a href="<?php echo baseUrl . "admin/user/"; ?>"
                                    class="hvr-bounce-to-right active">
                                    <i class="fa fa-users nav_icon"></i>Usuários
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class=" hvr-bounce-to-right">
                            <i class="fa fa-file nav_icon"></i>
                            <span class="nav-label">Páginas</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                            <li>
                                <a href="<?php echo baseUrl . "admin/banner/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-image nav_icon"></i>Banners
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/customer/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-group nav_icon"></i>Clientes
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/gallery/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-image nav_icon"></i>Galeria
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/about/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-pencil nav_icon"></i>Institucional
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/partner/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-briefcase nav_icon"></i>Parceiros
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/portfolio/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-folder nav_icon"></i>Portfólio
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/product/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-cube nav_icon"></i>Produtos
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo baseUrl . "admin/service/"; ?>" class=" hvr-bounce-to-right">
                                    <i class="fa fa-server nav_icon"></i>Serviços
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">
            <?php echo $this->content(); ?>
            <div class="copy">
                <p> &copy; 2016 Admin versão 5.0.0 | Desenvolvido por
                    <a href="http://jatecdev.com.br/" target="_blank">
                        João Augusto
                    </a>
                </p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script src="<?php echo baseUrl; ?>public/admin/js/jquery.nicescroll.js"></script>
<script src="<?php echo baseUrl; ?>public/admin/js/scripts.js"></script>
<script src="<?php echo baseUrl; ?>public/admin/js/bootstrap.min.js"> </script>
</body>
</html>

